import socks

API_HASH = ''
API_ID = 0
BOT_TOKEN = ''

SSSR_BOT_NAME = ''
SSSR_SESSION = 'session/bot'

AGENT_E_SESSION = 'session/e_agent'
AGENT_SESSION = 'session/agent'

DATABASE_HOST = ''
DATABASE_NAME = ''
DATABASE_USER = ''
DATABASE_PASSWORD = ''

PROXY_TYPE = socks.SOCKS5
PROXY_ADDRESS = ''
PROXY_PORT = 0
PROXY_USERNAME = ''
PROXY_PASSWORD = ''
